.Form_Box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  label {
    font-size: 15px;
  }
  input {
    border-radius: 7px;
    font-family: "Patrick Hand", cursive;
    height: 80px;

    font-size: 25px;
  }
  input::placeholder {
    font-size: 25px;
  }

  .Btn_Box {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .Add,
    button {
      width: 80px;
      height: 30px;
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: #e60000;
      border-radius: 7px;
      align-items: center;
      padding-bottom: 0px;
      font-family: "Patrick Hand", cursive;
      font-size: 15px;
    }
  }
}
